.vscode/**
.vscode-test/**
dist/*.map
node_modules/**
!node_modules/texlab
out/**
scripts/**
src/**
.azure-pipelines.yml
.gitignore
.prettierrc
tsconfig.json
tslint.json
webpack.config.ts
yarn.lock
*.vsix
